;
; mqtt-status-indicator.conf - for supervisord configuration file
;
; install
;     $ pwd
;     $ sudo cp mqtt-status-indicator.conf.sample /etc/supervisor/conf.d/mqtt-status-indicator.conf
;     $ sudo vi /etc/supervisor/conf.d/mqtt-status-indicator.conf
;       (fix path, etc...)
;     $ sudo supervisorctl reread
;     $ sudo supervisorctl add mqtt-exec
;     $ sudo supervisorctl status
;     mqtt-status-indicator      RUNNING    pid 8192, uptime 0:00:30
;
; see also
;     Supervisor: A Process Control System
;     http://supervisord.org/
;
[program:mqtt-status-indicator]
command         = /usr/local/node-v8.9.4-linux-armv7l/bin/node mqtt-status-indicator.js
directory       = /home/pi/work/mqtt-status-indicator
numprocs        = 1
autostart       = true
autorestart     = true
user            = pi
environment     = HOME=/home/pi/
redirect_stderr = true
stdout_logfile  = /home/pi/work/mqtt-status-indicator/log.txt
startsecs               = 1
startretries            = 10
stdout_logfile_maxbytes = 10MB
stdout_logfile_backups = 1
